{% extends 'base.html.twig' %}

{% block title %}PORT WSPARCIA – Ośrodek Reanimacji duchowej i Terapii Sensem{% endblock %}

{% block page_contents %}
<div class="card text-bg-info mb-3 text-center">
    <h4 class="card-header">Psycholog Anna Czerwińska:</h4>
    <div class="card-body">
        <ul class="card-text">
            <li>Grupa wsparcia – PORT (Pionierski Ośrodek Reanimacji duchowej i Terapii Sensem)</li>
            <li>Konsultacje psychologiczne</li>
            <li>Warsztaty</li>
            <li>Rekolekcje</li>
        </ul>
        <div class="card-text">
            <h4>Dane:<br></h4>

            <p ><span>E-mail:</span> annaczerwi@gmail.com<p>
            <p><span>Telefon:</span> 508 133 949<p>
            <p><span>Media społecznościowe:</span>
                <a>Anna Czerwińska na Facebooku</a><br>
                <a>Psycholog Katowice Anna Czerwińska na Facebooku</a><br>
                <a>PORT – Pionierski Ośrodek Reanimacji duchowej i Terapii Sensem na Facebooku</a><br>
            </p>
        </div>
    </div>
</div>
{% endblock %}