<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Port wsparcia{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
        {% block stylesheets %}
            <link href="{{ asset('css/front.css') }}" rel="stylesheet"/>
        {% endblock %}

       
    </head>
     <body>
        {% block body %}
            <div id="topbar">
                {% block topbar %}
                    <ul>
                        <li><a href="{# path('') #}">Pomoc i wsparcie</a></li>
                        <li><a href="{# path('') #}">Wiedza - filmy, artykuły</a></li>
                        <li><a href="{#{ path('') }#}">Kim jesteśmy</a></li>
                    </ul>
                {% endblock %}
            </div> 

            <div id="content">
                {% block page_contents %}{% endblock %}
            </div>
        {% endblock %} 
        {% block javascripts %}
            <script src="{{ asset('js/front.js') }}"></script>
        {% endblock %}
           </body>
</html>
